---
---

@import "{{ site.theme }}";

@font-face{
    font-family: "nixieone";
    src: url("../fonts/nixieone.ttf") format("truetype");
}

@font-face{
    font-family: "anonymous";
    src: url("../fonts/anonymouspro.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    font-family: anonymous,courier,monospace;
}

body{
    margin: 1% 30%;
    min-width: 350px;
    font-size: 100%;
}

/*--------text----------*/

h1,h2,h3,h4{
    font-family: nixieone,anonymous,courier,monospace;
}

h1{
    font-size: 47px;
    margin: 0 15%;
    text-align: left;
}

p{
    font-family: anonymous,courier,monospace;
    text-indent: 8pt;
    text-align: justify;
}

a{
    color: #6573A6;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/*--------header--------*/

header{
    height: 100px;
    margin-bottom: 30px;
}

h1.title{
    font-family: nixieone;
    font-size: 47px;
    margin-top: 80px;
    margin-bottom: 15px;
}

/*--------lists---------*/

ul{
    list-style: none; 
}

li{
    padding-bottom: 1%;
}

/*------blog-list-------*/

ul.posts{
    margin-left: 15%;
}

li.posts{
   margin: 20px 0; 
}

/*-------navmenu--------*/

nav{
    text-align: center;
    }

ul#navmenu{
    position: relative;
    background-color: #ffffff;
    width: 100%;
}

ul#navmenu li{
    display: inline-block;
}

ul#navmenu a{
    display: block;
    width: auto;
    text-decoration: none;
    padding: 5px 5px 0 5px;
    color: #cccccc;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-family: courier,monospace;
}

ul#navmenu li:hover > a{
    color: #272727;
}

/*----------post-----------*/

div.back{
    margin: 32px 0 24px 0;
}

div.content{
    margin: 0 15px;
}

div.post-info{
    text-align: center;
    margin: 24px 0;
}

/*---------images--------*/

img.dog{
    text-align: center;
    margin: 0 15%;
    width: 290px;
}

.paragraph-inline-left{
    display: inline-block;
    float: left;
    text-align: center;
    min-width: 150px;
}

.paragraph-inline-left p{
    text-indent: 0px;
    text-align: center;
}
    
.paragraph-inline-right{
    display: inline-block;
    float: right; 
    text-align: center;
    min-width: 150px;
}

.paragraph-inline-right p{
    text-indent: 0px;
    text-align: center;
}
    
    
    