---
layout: default
permalink: /index
---


 <header>
     {% include header.html %}
     {% include navigation.html %}
</header>


<main>
<section>
<div class="center">
    <img class="dog" src="/assets/dog.png" alt="rot.dog"><br>
    <p class="center">nema zemlje za žive mrtvace</p>
</div>

    <br><br><br><br><br><br>
    <p style="font-family: anonymous;">Dobrodošli na moj sajt ANONYymous</p>
    <p style="font-family: courier;">Dobrodošli na moj sajt COURrier</p>
    
<br><br><br><br><br><br>  
<h1 style="background: red">This is heading 1</h1>
<h2 style="background: red">This is heading 2</h2>
<h3 style="background: red">This is heading 3</h3>
<h4 style="background: red">This is heading 4</h4>
<h5 style="background: red">This is heading 5</h5>
<h6 style="background: red">This is heading 6</h6>
    
</section>
</main>
